* {
  box-sizing: border-box;
}

body {
  font: 20px/1.5 cursive, sans-serif;
  background-color: #f7fce5;
  color: #333333;
  margin: 0px 20px;
}

h1 {
  height: 90px;
  width: 230px;
  margin: 0 auto;
  font-size: 60px;
  font-style: oblique;
}
 
h2 {
  margin-top: 0px;
  padding-bottom: 5px;
  text-align: center;
  font-size: 25px;
  font-style: italic;
  font-variant: small-caps;
}

section {
  margin: 35px 0px;
  padding: 15px 50px;
  background-color: white;
  border-top: 15px solid pink;
  border-radius: 20px;
}

section h2 {
  margin-bottom: 10px;
  padding: 0px;
  text-align: left;
  border: none;
}

li {
  margin-bottom: 10px;
}

ul {
  list-style-image: url();
  list-style-type: square;
}


.coming-soon {
  text-align: center;
  padding: 10px 0px;
  font-style: italic;
  font-family: "Kalnia Glaze", sans-serif;
}

.form {
margin: 35px 0px;
padding: 15px 50px;
background-color: white;
border-top: 15px solid rgb(143, 143, 243);
border-radius: 20px;
}

.form-h{
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

.question-container {
  padding-left: 20px;
}

.html-box {
  font-family: sans-serif;
  font-weight: 600;
}
.send-box {
  padding: 4px 17px;
  margin: 10px 0px 1px 20px;
  background-color: rgba(45, 45, 247, 0.712);
  border: none;
  border-radius: 12px;

  color: rgb(255, 255, 255);

  cursor: pointer;
}

.send-span {
  font: 16px/1.5 sans-serif;
  font-weight: 633;
}

fieldset {
  margin-right: 1600px;
  padding: 13px 15px 14px 16px;
  border-radius: 11px;
}

.label-password {
  margin-top: 15px;
}

.input-form {
  padding: 6px;
  border: 1px solid #333;
  border-radius: 12px;
}

.login-box {
  margin-top: 30px;
  padding: 6px 72px 6px 6px;
  border: none;
  border-radius: 12px;
  background-color: rgba(45, 45, 247, 0.712);

  color: white;

  cursor: pointer;
}

.login-span {
 font: 16px/1 sans-serif;
 margin-left: 62px;
 font-weight: 600;
}